.h{
    text-align: center;
    font-style: italic;
}
.my_class{
    font-size: 25px;
    font-style: italic;
}
.img_class{
    float:left;
    margin-right: 7px;
    margin-left: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    width: 30px;
    height: 30px;
}
.my_container{
    margin-left: auto;
    margin-right: auto;
    width:65vw;
}